body {
    background-image: url('/images/dark.jpg');
}

#newbox {
    max-width: 600px;
    margin: 2em auto 0 auto;
    background-color: #272B30;
    padding: 1px 25px 25px 25px;
    border-radius: 5px;
    border-color: #272B30;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 2px black;
}

.errordescription {
    float: right;
    display: block;
}

.form-control-feedback {
    display: none;
}

.progress {
    height: 5em;
}

.progress-bar {
    background-image: url('/images/dogebg.jpg');
    background-size: 600px;
    box-shadow: 3px 0px 19px 0px rgba(195, 149, 50, 0.68);
}

#targetSpan {
    display: inline-block;
    float: right;
}

#receivedSpan {
    display: inline-block;
    float: left;
}

#loaderDiv {
  margin: 100px auto 0 auto;
  width: 1.5em;
  height: 1.5em;
  border: solid;
  border-radius: 50%;
  line-height: 1.5em;
  font-size: 60px;
  text-align: center;
   -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
#loader {
  display: block;
}