<template name="bar">
    <div id="newbox">
    <center><h1>{{ title}}</h1></center>
    {{#markdown}}{{description}}{{/markdown}}
    <center><p>Address: {{ address }}</p></center>
    <center><p><a type="button" class="btn btn-default" href="dogecoin://{{address}}"><i class="fa fa-money"></i> Donate now</a> <a id="qRButton" type="button" class="btn btn-default" ata-container="body" data-toggle="popover" data-placement="right" data-html="true" data-content="<img src='https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{address}}' width='150' height='150'>"><i class="fa fa-qrcode"></i> Show QR code</a><br></p></center>
    
    
    <span id="receivedSpan" class="label {{#if complete percent }} label-success {{else}} label-default {{/if}}">Received: {{ balance }} Ɖ</span><span id="targetSpan" class="label label-default">Target: {{ amount }} Ɖ</span><br>
    <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
  </div>
</div>
    <center><span class="label {{#if complete percent }} label-success {{else}} label-primary {{/if}}">Funded: {{ percent }}%</span></center>
    </div>
</template>