<template name="new">

    <div id="newbox">
        <h1>New tracking bar</h1>
        <form>
            <div class="form-group">
                <label for="projectTitle" class="control-label">Project title</label><span class="errordescription has-error"></span>
                <input type="text" class="form-control" id="projectTitle" placeholder="Enter project title">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group">
                <label for="slug" class="control-label">URL: http://doge.gives/</label>
                <input type="text" class="form-control" id="slug" placeholder="wowverycharity">
            </div>
            <div class="form-group">
                <label for="donationAddress" class="control-label">Donation address</label>
                <input type="text" class="form-control" id="donationAddress" placeholder="Enter Dogecoin address">
            </div>
            <div class="form-group">
                <label for="amount" class="control-label">Target amount of DOGE</label>
                <input type="number" class="form-control" id="amount" placeholder="Exmaple: 100000">
            </div>
            <button type="submit" class="btn btn-primary">Create donation tracker</button>
        </form>
    </div>
</template>